@import 'tailwindcss';

@theme {
	--color-primary: #412772;
	--color-secondary: #59aa50;
}

html {
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif;
}

body {
	touch-action: manipulation;
}
