@import 'tailwindcss';

@theme {
	--color-brand: #412772;
	--color-brand-light: #5a3a94;
	--color-brand-lighter: #f0ebf5;
	--color-action: #59aa50;
	--color-action-dark: #4a9143;
}

html {
	font-family:
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		sans-serif;
}

body {
  touch-action: manipulation;
}
